body {
    font-family:'Segoe UI','Microsoft YaHei UI','Microsoft YaHei', Tahoma, Geneva, Verdana, sans-serif
}
tr {
    background-color: dodgerblue;
    color: white;
}
.thead-tr {
    background-color: black;
    color: white;
}
.alternate {
    background-color: whitesmoke;
    color: black;
}
strong,p{
    padding:2px 8px;
}

#lnk-view-code {
    float: right;
    position: absolute;
    right: 8px;
    top: 24px;
    text-decoration: none;
    background-color: dodgerblue;
    color: white;
    padding: 8px 24px;
    border: 2px solid dodgerblue;
    font-weight: bold;
}

    #lnk-view-code:hover {
        background-color: #58B1DF;
        border-color: #1871B4;
    }

    #lnk-view-code:active {
        background-color: black;
        border-color: black;
    }